body {
  margin: 2%;
  border: 1px solid black;
  background-color: #ffffff;
}

body > a {
  position: absolute;
  left: -200px;
  background-color: #ffffff;
  padding: 3px;
  border: 1px solid black;
}

body > a:focus {
  left: 10px;
}

#image {
  line-height: 650px;
  width: 580px;
  height: 350px;
  border: 3px solid black;
  margin: 10px auto 0px auto;
  background-color: #767676;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
  text-align: center;
  background-size: 100%;
  margin-bottom: 25px;
  font-size: 150%;
  font-weight: bolder;
  text-transform: uppercase;
 font-family: Arial, Helvetica, sans-serif;
}

.preview {
  width: 200px;
  height: 170px;
  margin-left: 15%;
  border: 3px solid black;
  background-color: #FFFFFF;
}

img {
  width: 95%;
}
